
.DS_Store
*.pyc
input_files/.DS_Store
input_files/Young++2018/.DS_Store
input_files/.DS_Store
input_files/Young++2018/.DS_Store
input_files/.DS_Store
input_files/Young++2018/.DS_Store

gprm/.ipynb_checkpoints
grid_files/*
upload/*
gmt.history
.ipynb_checkpoints/plot_seafloor_age-checkpoint.py
images/*.png
images/*.mp4
images/M16_seafloor_age_animation.gif
images/Y19_seafloor_age_animation.gif
tmp.gmt
tmp.xy
gmt.conf
tmp/*
test_files/*
